html,
body {
  width: 100%;
  height: 100%;
}

.header p {
  user-select: none;
  font-family: SimHei;
  font-size: 24px;
  line-height: 50px;
  height: 50px;
  color: #fff;
}

.header,
.footer {
  background: #262626;
  height: 50px;
  width: 100%;
  box-shadow: 0 0 10px #333333;
  overflow: hidden;
}

.content-wrapper {
  height: calc(100% - 100px);
  width: 100%;
}

.tools-container {
  width: 100px;
  height: 100%;
  float: left;
  background: #666666;
  box-shadow: 0 0 10px #333333;
}

.canvas-container {
  width: calc(100% - 100px);
  height: 100%;
  float: left;
  position: relative;
  background: url('../img/bg.png') no-repeat;
  background-size: cover;
}

canvas {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

#controller {
  z-index: 3;
}

#viewer {
  z-index: 2;
}

.black-tools, .red-tools {
  width: 100%;
  height: 50%;
  background: #333333;
  box-shadow: 0 0 10px #000;
}

.active {
  background: #F64A46;
  box-shadow: 0 0 10px #000 inset;
}

#btn-undo {
  line-height: 40px;
  height: 40px;
  margin-top: 5px;
  width: 100px;
  background: #46f655;
  border-radius: 3px;
  outline: none;
  border: none;
  box-shadow: 0 0 8px #333333;
  color: #333333;
  font-family: SimHei;
  font-size: 20px;
  user-select: none;
  cursor: pointer;
}

.turn-tag {
  font-size: 20px;
  text-align: center;
  margin: 0 auto;
  font-family: SimHei;
  display: none;
}

.turn-tag.black{
  color: #eeeeee;
}

.turn-tag.red{
  color: #333333;
}

.red-tools.active p{
  display: block;
}

.black-tools.active p{
  display: block;
}